.base-container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;   
}
.container{
    margin-top:20px;
    height: 350px;
    width: 310px;
    border-radius: 15px;
	box-shadow: 0 0 0 0.2rem rgb(135, 241, 215);
    background-color: rgb(135, 241, 215);
    border: 4px solid;
    border-color: darkorange;
}
.container1{
    margin-top:20px;
    height: 350px;
    width: 310px;
    border-radius: 15px;
	box-shadow: 0 0 0 0.2rem rgb(135, 241, 215);
    background-color: rgb(160, 250, 227);
    height: 540px;
    border: 4px solid;
    border-color: darkorange;
}
.base-container2{
    margin-top:20px;
    width: 630px;
    border-radius: 15px;
	box-shadow: 0 0 0 0.2rem rgb(135, 241, 227);
    background-color: rgb(160, 244, 250);
    height: 600px;
    border: 4px solid;
    border-color: darkorange;
    margin-left: 350px;
}

.container3{
    margin-top:5px;
    margin-left:0px;
    height:350px;
    width: 550px; 
    border-radius: 15px;
	box-shadow: 0 0 0 0.2rem rgb(135, 241, 215);
    background-color: rgb(160, 250, 227);
    border: 4px solid;
    border-color: darkorange;
    padding: 30px;

    /* text-align: center; */
}
.form-group3{
    text-align: center;

}

.header {
    color: black;
    font-size: 32px;
    margin-top: 30px;
    font-family: sans-serif;
    text-align: center;
}

/* .content {
    display: flex;
    flex-direction: column;
} */
.form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.form.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}
label{
    color:black;
    font-size: 17px;
    align-items: flex-start;
    margin: 6px 10px;
    /* width: 800px; */
}
input{
    color: darkorange;
    margin-top: 6px;
    margin: 6px 10px;
    height:37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    border:2 solid;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
    width:265px;
  
}
.footer{
    margin-top: 30px;
    text-align: center ;
}
.btn{
    font-size:20px ;
    color: white;
    background-color: darkorange;
    padding:5px 5px 5px 5px;
    width: 150px;
    border-radius: 5px;
    box-shadow: black;
    margin-top: 5px;
    border : 2px solid;
    border-color: black;
}
.btn{
    transition-duration: 0.4s;
  }
  
  .btn:hover {
    background-color: white;
    color:black;
  }
  textarea{
    color: darkorange;
    margin-top: 6px;
    margin: 6px 10px;
    height:200px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    border:2;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
    width:500px;
  }